.menubar > button {
    display: flex;
    padding: 0px 250px 50px 250px;
}
.links {
    padding: 60px;
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px;
    display: inline-block;
    font-size: 15px;
}
.links:hover {
    background-color: rgb(68, 62, 73);
    color: aliceblue;
    cursor: pointer;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}