div > p {
    color: rgb(25, 1, 1);
    font-family: fantasy;
    background-color: rgb(255, 208, 0);
}
.container {
    display: flex;
}
.item {
    margin: 0px 10px;
}
.button {
    border: #a30c0c;
    padding: 50px 10px;
    border-radius: 10px;
    background-color: black;
    color: aliceblue;
}
.button:hover {
    background-color: rgb(14, 14, 106);
    color: #ffffff;
    cursor: progress;
}