.namenpfp {
    display: flexbox;
    flex-direction: row;
}

.namenpfp > img {
    border-radius: 10px;
    height: 60px;
}

h1 {
    color: rgb(117, 8, 119);
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(73, 46, 77);
    font-size: 30px;
}

.education {
    display: flexbox;
    flex-direction: row;
}

.education > .tdn > img {
    border-radius: 10px;
    height: 70px;
}

.education > .ptnk > img {
    border-radius: 10px;
    height: 70px;
}

.generalin4 > p{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.generalin4 > li{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.skillsnref {
    border: 10px solid blue;
}

#yay {
    position: fixed;
    top: 100px;
    left: 100px;
}