.menubar > button {
    display: inline;
    padding: 10px 10px 10px 10px;
}

.menubar {
    margin: auto;
    width: 100%;
    padding: 10px 10px 10px 10px;
    position: fixed;
    left: 64px;
}

.menulinks {
    display: flex;
    border: 0px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
}

.menubar > img {
    height: 50px;
    width: 600px;
    position: absolute;
    left: 615px;
}

.menulinks > a:hover {
    color: white;
}

.menulinks:hover {
    background-color: black;
}
.items > img {
    display: inline;
    margin: auto;
    height: 250px;
    position: relative;
    top: 100px;
    padding: 34px;
}

.items > h3 {
    position: relative;
    top: 100px;
    left: 50px;
    font-size:20px;
    color: rgb(19, 19, 113);
}

.booklinks > button {
    border: 0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#nolongerhuman {
    position: relative;
    top: 87px;
    left: 54px;
}

#billcipher {
    position: relative;
    top: 87px;
    left: 195px;
}

#deathnote {
    position: relative;
    top: 87px;
    left: 356px;
}

body {
    height: 1000px;
}